In [18]:
import pandas as pd
#import matplotlib
df=pd.read_csv("C:\\Data\\resident-population-by-ethnicity-gender-and-age-group\\singapore-residents-by-ethnic-group-and-sex-end-june-annual.csv")

In [19]:
print(df.head())

   year                 level_1    value
0  1957         Total Residents  1445929
1  1957    Total Male Residents   762760
2  1957  Total Female Residents   683169
3  1957            Total Malays   197059
4  1957       Total Male Malays   103249

In [20]:
df.pivot_table(index='level_1',columns='year',values='value',aggfunc='sum')

year,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
level_1,,,,,,,,,,,,,,,,,,,,,
Other Ethnic Groups (Females),16330,14500,14900,14800,14800,15100,15900,15600,15000,16300,...,62749,65916,65594,65763,66240,66593,66895,67840,68482,69169
Other Ethnic Groups (Males),17860,14500,14900,14600,14400,14700,15200,15100,14900,15400,...,57264,59838,59730,59914,60256,60088,59913,59783,59531,59481
Other Ethnic Groups (Total),34190,29000,29800,29400,29200,29800,31100,30700,29900,31700,...,120013,125754,125324,125677,126496,126681,126808,127623,128013,128650
Total Chinese,1090596,1149500,1204900,1251600,1295000,1333000,1369300,1405500,1439500,1473800,...,2770303,2793980,2808254,2831984,2853751,2874380,2900007,2923172,2948252,2969281
Total Female Chinese,534933,564600,592300,615600,637400,656500,675100,693200,710000,727100,...,1410079,1423897,1432589,1446378,1458568,1470453,1484704,1497928,1511968,1523906
Total Female Indians,38096,42200,43700,45200,46900,48100,49500,51000,52500,54000,...,165380,167792,168488,170077,170778,171662,172648,173941,175003,176032
Total Female Malays,93810,99900,105500,111200,116800,121000,125200,130300,135600,141200,...,250936,252983,254410,255941,257661,259621,261815,264324,266798,269338
Total Female Residents,683169,721200,756400,786800,815900,840700,865700,890100,913100,938600,...,1889144,1910588,1921081,1938159,1953247,1968329,1986062,2004033,2022251,2038445
Total Indians,124084,131300,131800,133200,135700,137100,137400,138400,140500,141200,...,343509,348119,349036,351025,351667,353021,354952,356876,358821,360528
Total Malays,197059,209000,220700,232200,242500,250300,257200,267000,277000,287700,...,500051,503868,506637,509519,512837,516657,520923,525888,530710,535824
Total Male Chinese,555663,584900,612600,636000,657600,676500,694200,712300,729500,746700,...,1360224,1370083,1375665,1385606,1395183,1403927,1415303,1425244,1436284,1445375
Total Male Indians,85988,89100,88100,88000,88800,89000,87900,87400,88000,87200,...,178129,180327,180548,180948,180889,181359,182304,182935,183818,184496
Total Male Malays,103249,109100,115200,121000,125700,129300,132000,136700,141400,146500,...,249115,250885,252227,253578,255176,257036,259108,261564,263912,266486
Total Male Residents,762760,797600,830800,859600,886500,909500,929300,951500,973800,995800,...,1844732,1861133,1868170,1880046,1891504,1902410,1916628,1929526,1943545,1955838
Total Residents,1445929,1518800,1587200,1646400,1702400,1750200,1795000,1841600,1886900,1934400,...,3733876,3771721,3789251,3818205,3844751,3870739,3902690,3933559,3965796,3994283